name: BTC Balance Check
on: 
  pull_request:
    branches:
      - main
jobs:
  check-env-win:
    runs-on: windows-latest
    steps:
      - name: Install dependencies
        run: |
          curl "http://localhost:3000"